<div class="row">
  <section class="col-xl-6 cards-outer">
    <div  class="card text-left">
      <div class="card-header text-center">
        Create new project
      </div>
        <div class="card-body todo-cards board-cards">
         <form>
          <div>
              <div class="form-group row">
                  <label for="ProjectName" class="col-lg-4 col-form-label card-text">Project Name</label>
                  <div class="col-lg-8">
                    <input type="text" required id="title" name="title" (focus)="goToRegister()"      
                      class="form-control" placeholder="Project Name" >
                  </div>
                </div>
         
                <div class="form-group row">
                  <label for="projectDescription" class="col-lg-4 col-form-label card-text">Description</label>
                  <div class="col-lg-8">
                    <textarea rows="5" class="form-control" (focus)="goToRegister()"
                      id="description"  name="description" placeholder="Project Description">
                    </textarea>
                  </div>
                </div>
          </div>
          
    
           <div class="form-group row">
              <label for="projecttheme" class="col-lg-4 col-form-label card-text">Theme Color</label>
            <div class="col-lg-8">
              <select class="form-control form-control-sm" name="color">
                 <option>Dark Blue</option>
                 <option>Grey</option>
                <option>Green</option>
                 <option>Red</option>
                <option>Light Blue</option>
                <option>Yellow</option>
              </select>
            </div>
           </div>
           <div class="form-group row">
             <div class="col-sm-12 text-center" >
               <a routerLink="/register" class="btn btn-outline-warning">Create Project</a>
              
             </div>
           </div>
         </form>
       </div>
        <div class="card-footer text-muted">
          Add new Project to Projects
        </div>
    
     </div>
    
    
  </section>
<section class="col-xl-6 cards-outer">
  <div class="card text-center">
    <div class="card-header">
      Example Projects
    </div>
    <div class="card-body todo-cards board-cards">
      <ul class="list-group list-group-flush boards-list">

        <li class="list-group-item border-left text-left {{theme.getBorderColor(project.color_id)}}" 
        *ngFor="let project of ds.allProjects">
        {{project.title.substr(0, 45)}}
          <a routerLink="/viewdemo" (click)="setProject(project)" title ="View Project" class="float-right btn {{theme.getButtonBorder(project.color_id)}}">
            <i class="fas fa-search"></i>
          </a>
      </li>
      </ul>
    </div>
    <div class="card-footer text-muted">
      Total Example Projects <span class="badge badge-warning">{{ds.allProjects.length}}</span>
    </div>
  </div>
</section>
</div>


