
<div class="alert alert-warning" role="alert" *ngIf="!api.success">
  <h4 class="alert-heading">Are you sure?</h4>
  <p>If you click on the delete button below things will go nuclear.</p>
  <p>First, All the tasks that belong to the project will be permanently deleted from the database.
      Second, It will spread and wipe out the project and anything that has to do with the project.
      This destruction can not be undone.
  </p>
  <p class="mb-0">Project Name : {{board.currentProject.title}}</p>
  <p class="mb-0">Total Tasks  : {{board.allTasks.length}}</p>
  <hr>

  <a routerLink="/view" class="btn btn-info" >Go back to safety</a>
  <button type="button" (click)="board.deleteProject()" id="deleteButton" 
   class="btn btn-danger">Delete Project</button>
  
</div>
<div class="alert alert-info" role="alert" *ngIf="api.success">
    <h4 class="alert-heading">Success!</h4>
    <p class="mb-0">Project and tasks deleted.</p>
    <hr>
  
    <a routerLink="/overview" class="btn btn-success" >Boards Page</a>
    
    
  </div>
