<div class="row">
    <section class="col-md-12">
      <div  class="card text-center">
        <div class="card-header">
          Edit Task
        </div>
        <div class="card-body">
          <form >
            <div class="form-group row">
              <label for="TaskName" class="col-sm-12 col-form-label card-text text-left">Task Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="TaskName" name="title" 
                 value="Task name">
              </div>
            </div>
            <div class="form-group row">
              <label for="TaskDescription" class="col-sm-12 col-form-label card-text text-left">Description</label>
              <div class="col-sm-12">
                <textarea name="description" rows="5" class="form-control" id="TaskDescription" value="Task name" ></textarea>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-outline-warning">Edit Task</button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer text-muted">
          Edit Task
        </div>
      </div>
    </section>
 </div>

