<div  class="card text-left">
    <div class="card-header">
      Edit Todo
    </div>
      <div class="card-body todo-cards">
       <form #editTaskForm="ngForm" (ngSubmit)="editTask()">
  
         <div class="form-group row">
           <label for="title" class="col-lg-3 col-form-label card-text">Edit Title</label>
           <div class="col-lg-9">
             <input type="text" required id="title" name="title"  [(ngModel)]="np.title"      
               class="form-control"  #title="ngModel" >
             <div class="error" *ngIf="title.errors?.required && title.touched">        
                Task title is required
             </div>
           </div>
         </div>
  
         <div class="form-group row">
           <label for="taskDescription" class="col-lg-3 col-form-label card-text">Todo</label>
           <div class="col-lg-9">
             <textarea rows="5" class="form-control" [(ngModel)]="np.description"
               id="description"  name="description" >
             </textarea>
           </div>
         </div>

  
         <div class="form-group row">
           <div class="col-sm-12 text-center" >
             <button type="submit" class="btn btn-outline-warning" [disabled]="editTaskForm.invalid">Update Todo</button>
           </div>
         </div>
       </form>
     </div>
      <div class="card-footer text-muted">
        Update Todo
      </div>
  
   </div>
  
  