<div class="row">
      <section class="col-md-6">
          <app-project-create></app-project-create>
      </section>
    <section class="col-md-6">
      <div class="card text-center">
        <div class="card-header">
          All Projects
        </div>
        <div class="card-body todo-cards">
          <ul class="list-group list-group-flush boards-list">
            <li class="list-group-item border-left border-primary text-left">
              <a routerLink="" title ="View Project"><i class="fas fa-search"></i></a>
            </li>
          </ul>
        </div>
        <div class="card-footer text-muted">
          Total Boards <span class="badge badge-warning">10</span>
        </div>
      </div>
    </section>
  </div>
