<div class="row">
      <section class="col-xl-6 cards-outer">
          <app-project-create></app-project-create>
      </section>
    <section class="col-xl-6 cards-outer" >
      <div class="card text-center">
        <div class="card-header">
          All Projects
        </div>
        <div class="card-body todo-cards board-cards">
          <ul class="list-group list-group-flush boards-list">

            <li class="list-group-item border-left {{theme.getBorderColor(project.color_id)}} text-left" 
            *ngFor="let project of boards.allProjects">
            {{project.title.substr(0, 45)}}
              <a routerLink="/view" (click)="viewProject(project)" title ="View Project" class="float-right btn {{theme.getButtonBorder(project.color_id)}}">
                <i class="fas fa-search"></i>
              </a>
          </li>
          </ul>
        </div>
        <div class="card-footer text-muted">
          Total Projects <span class="badge badge-warning">{{boards.allProjects.length}}</span>
        </div>
      </div>
    </section>
  </div>

