<div class="card text-white bg-danger mb-3" >
    <div class="card-header">Task Details</div>
    <div class="card-body">
      <h5 class="card-title">{{board.currentTask.title}}</h5>
      <p class="card-text">{{board.currentTask.description}}</p>
    </div>
    <div class="card-footer">

  
      <a routerLink="/edittask" class="btn btn-outline-light navbut" 
        title="Edit Project">
         Edit Task <i class="fas fa-edit"></i>
      </a>
  
      <a (click)="board.deleteTask(board.currentTask)" class="btn btn-outline-light navbut"
       title ="Delete Project">
         Delete Task <i class="fas fa-trash"></i>
      </a>
  
      <a routerLink="/overview" class="btn btn-outline-light navbut"
       title ="Boards Page">
         Boards Page <i class="fas fa-folder-open"></i>
      </a>
  
      <a routerLink="/view" class="btn btn-outline-light navbut"
       title ="Project Page">
         Project Page <i class="fas fa-folder-open"></i>
      </a>

    </div>
  </div>
