<div class="card {{theme.getBorderColor(board.currentProject.color_id)}} mb-3" >
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <p>Task Details</p>
              </div>
              <div class="col-md-6">
                <p class="text-right">
                   Date Created {{board.currentTask.created_at | date}}
                </p>
              </div>
        </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{board.currentTask.title}}</h5>
      <p class="card-text">{{board.currentTask.description}}</p>
    </div>
    <div class="card-footer">

  
      <a routerLink="/edittask" (click)="editTask(board.currentTask)" class="btn {{theme.getButtonBorder(board.currentProject.color_id)}} navbut" 
        title="Edit Project">
        <span class="button-text">  Edit Task </span>
        <i class="fas fa-edit"></i>
      </a>
  
      <a routerLink="" (click)="board.deleteTask(board.currentTask)" class="btn {{theme.getButtonBorder(board.currentProject.color_id)}} navbut"
       title ="Delete Project">
       <span class="button-text"> Delete Task </span>
          <i class="fas fa-trash"></i>
      </a>
  
      <a routerLink="/overview" class="btn {{theme.getButtonBorder(board.currentProject.color_id)}} navbut"
       title ="Boards Page">
       <span class="button-text">Boards Page</span>
       <i class="fas fa-folder-open"></i>
      </a>
  
      <a routerLink="/view" (click)="viewProject(board.currentProject)" class="btn {{theme.getButtonBorder(board.currentProject.color_id)}} navbut"
       title ="Project Page">
       <span class="button-text">  Project Page </span>
       <i class="fas fa-folder-open"></i>
      </a>

    </div>
  </div>
