<div class="card text-white mb-3 {{theme.getBackgroundColor(board.currentProject.color_id)}}" >
  <div class="card-header">Project Details</div>
  <div class="card-body">
    <h5 class="card-title">{{board.currentProject.title}}</h5>
    <p class="card-text">{{board.currentProject.description}}</p>
  </div>
  <div class="card-footer">

    <a routerLink="/createtask" (click)="passProject(board.currentProject)" 
    class="btn btn-outline-light navbut" title ="Create new task">
      New Todo <i class="fas fa-plus"></i>
    </a>

    <a routerLink="/edit" class="btn btn-outline-light navbut" 
    (click)="passProject(board.currentProject)"  title="Edit Project">
       Edit Project <i class="fas fa-edit"></i>
    </a>

    <a routerLink="/delete" class="btn btn-outline-light navbut"
     title ="Delete Project">
       Delete Project <i class="fas fa-trash"></i>
    </a>

    <a routerLink="/overview" class="btn btn-outline-light navbut"
     title ="Boards Page">
       Boards Page <i class="fas fa-folder-open"></i>
    </a>

  
  </div>
</div>
<section class="row">

  <section class="col-sm-6"  *ngFor="let task of board.allTasks">
    <div class="card mb-3 {{theme.getBorderColor(board.currentProject.color_id)}}">
      <div class="card-header">Task Details</div>
      <div class="card-body {{theme.textColor(board.currentProject.color_id)}}">
        <h5 class="card-title">{{task.title.substr(0, 45)}}</h5>
        <p class="card-text">{{task.description}}</p>
      </div>
      <div class="card-footer">
        <a routerLink="/edittask" (click)="editTask(task)" class="btn {{theme.getButtonBorder(board.currentProject.color_id)}} navbut" title="Edit Task"><i class="fas fa-edit"></i></a>
        <a  routerLink="/viewtask" (click)="viewTask(task)" class="btn {{theme.getButtonBorder(board.currentProject.color_id)}} navbut"  title ="View Task"><i class="fas fa-search"></i></a>  
      </div>
    </div>
  </section>
 

  </section>
