<div class="card text-white bg-danger mb-3" >
  <div class="card-header">Project Details</div>
  <div class="card-body">
    <h5 class="card-title">Project Title</h5>
    <p class="card-text">Project Description</p>
    <p>Project Id</p>
  </div>
  <div class="card-footer">
    <a routerLink=""  title ="Create new task"><i class="fas fa-plus-square"></i></a>
    <a routerLink=""  data-toggle="tooltip" data-placement="bottom" title="Edit Project"><i class="fas fa-edit"></i></a>
    <a title ="Delete Project"><i class="fas fa-trash"></i></a>
  </div>
</div>
<section class="row">

  <section class="col-sm-4">
    <div class="card border-danger mb-3">
      <div class="card-header">Task Details</div>
      <div class="card-body text-danger">
        <h5 class="card-title">Task Title</h5>
        <p class="card-text">Task Description</p>
      </div>
      <div class="card-footer">
        <a routerLink="" data-toggle="tooltip" data-placement="bottom" title="Edit Task"><i class="fas fa-edit"></i></a>
        <a routerLink=""  title ="View Task"><i class="fas fa-search"></i></a>  
      </div>
    </div>
  </section>
 

  </section>
