<ng-progress [color]="'red'" [spinner]="false"></ng-progress>
<header>
  <nav class="navbar bg-warning navbar-expand-lg main-nav">

    <a class="navbar-brand">ToDos Pro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="overview" *ngIf="auth.loggedIn" class="boardsLink">All Boards</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" *ngIf="!auth.loggedIn">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login/Register
          </a>
          <div class="dropdown-menu border-warning dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-warning" routerLink="login">Login</a>
            <a class="dropdown-item text-warning" routerLink="register">Register</a>
          </div>
        </li>

        <li class="nav-item dropdown mr-auto" *ngIf="auth.loggedIn">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu border-warning dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-warning" (click)="logout()">Sign Out</a>
            <a class="dropdown-item text-warning" href="#">View Profile</a>
            <a class="dropdown-item text-warning" routerLink="edituser">Edit Profile</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>
</header>



