/* You can add global styles to this file, and also import other style files */
.container-inner{
    margin-top: 40px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .error{
    color: #a94442;
  }
  .navbut:hover{
    color: black !important;
}
.navbut{
    margin-right: 10px;
}
.boards-list{
  border: none;
}
.boards-list li{
  border: none;
  margin-top: 10px;
}
.board-cards{

  height: 400px;
  overflow-y: scroll;
}
/* width */
.board-cards::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.board-cards::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.board-cards::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
.board-cards::-webkit-scrollbar-thumb:hover {
    background: #ffc107;
}
.cards-outer{
    margin-bottom: 30px;
}
@media (max-width: 768px) {
   .button-text{
       display: none;
   }
}