<div  class="card text-left">
  <div class="card-header">
    Create new Todo
  </div>
    <div class="card-body todo-cards">
     <form #taskForm="ngForm" (ngSubmit)="newTask()">

       <div class="form-group row">
         <label for="TaskName" class="col-lg-3 col-form-label card-text">Todo Name</label>
         <div class="col-lg-9">
           <input type="text" required id="title" name="title" value="title" [(ngModel)]="np.title"      
             class="form-control" placeholder="Task Name" #title="ngModel">
           <div class="error" *ngIf="title.errors?.required && title.touched">        
              Todo title is required
           </div>
         </div>
       </div>

       <div class="form-group row">
         <label for="taskDescription" class="col-lg-3 col-form-label card-text">TODO</label>
         <div class="col-lg-9">
           <textarea rows="5" class="form-control" value="description"[(ngModel)]="np.description"
             id="description"  name="description" placeholder="Todo">
           </textarea>
         </div>
       </div>

       <div class="form-group row">
         <div class="col-sm-12 text-center" >
           <button type="submit" class="btn btn-outline-warning" [disabled]="taskForm.invalid">Create Todo</button>
           <button type="submit" class="btn btn-outline-warning" (click)="goBack()" >Go Back</button>
         </div>
       </div>
     </form>
   </div>
    <div class="card-footer text-muted">
      Add new Todo
    </div>

 </div>

