<div class="card text-white mb-3 {{theme.getBackgroundColor(ds.currentProject.color_id)}}" >
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
          <p>Project Details</p>
        </div>
        <div class="col-md-6">
          <p class="text-right">
             Date Created {{ds.currentProject.created_at | date}}
          </p>
        </div>
   </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ds.currentProject.title}}</h5>
    <p class="card-text">{{ds.currentProject.description}}</p>
  </div>
  <div class="card-footer">

    <a routerLink="/register" class="btn btn-outline-light navbut" title ="Create new task">
      <span class="button-text">New Todo</span>
       <i class="fas fa-plus"></i>
    </a>

    <a routerLink="/register" class="btn btn-outline-light navbut"  title="Edit Project">
      <span class="button-text">Edit Project</span>
      <i class="fas fa-edit"></i>
    </a>

    <a routerLink="/register" class="btn btn-outline-light navbut"
     title ="Delete Project">
     <span class="button-text">Delete Project</span>
    <i class="fas fa-trash"></i>
    </a>

    <a routerLink="" class="btn btn-outline-light navbut"
     title ="Boards Page">
     <span class="button-text"> Boards Page</span>
     <i class="fas fa-folder-open"></i>
    </a>

  
  </div>
</div>



<section class="row">

  <section class="col-md-6"  *ngFor="let task of ds.allTasks">
    <div class="card mb-3 {{theme.getBorderColor(ds.currentProject.color_id)}}">
      <div class="card-header">Task Details</div>
      <div class="card-body {{theme.textColor(ds.currentProject.color_id)}}">
        <h5 class="card-title">{{ task.title.substr(0, 45) }}</h5>
        <p class="card-text">{{ task.description.substr(0, 45) }}</p>
      </div>
      <div class="card-footer">
        <a routerLink="/register"  class="btn {{theme.getButtonBorder(ds.currentProject.color_id)}} navbut" title="Edit Task"><i class="fas fa-edit"></i></a>
        <a  routerLink="/register" class="btn {{theme.getButtonBorder(ds.currentProject.color_id)}} navbut"  title ="View Task"><i class="fas fa-search"></i></a>  
      </div>
    </div>
  </section>
 

  </section> 